  body {
        font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    }


    ul {
      margin: 0;
      padding: 0;
    }

    ul li {
      cursor: pointer;
      position: relative;
      padding: 12px 8px 12px 40px;
      list-style-type: none;
      background: #e9a4c6;
      font-size: 18px;
      transition: 0.2s;

      /*hace que la lista de items sea unselectable*/
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /*hace que la lista  sea de otro color*/
    ul li:nth-child(odd) {
      background: #f9f9f9;
    }

    ul li:hover {
      background: #ddd;
    }

    /*Se tacha y se cambia de color*/
    ul li.tachado {
      background: #888;
      color: #fff;
      text-decoration: line-through;
    }

    /*suma un tick cuando se clickea*/
    ul li.tachado::before {
      content: '';
      position: absolute;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
    }

    
    /* boton de cerrar */
    .close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 12px 16px 12px 16px;
    }

    .close:hover {
      background-color: #b4165a;
      color: white;
    }

    /* el header */
    .header {
      background-color: #fcb1ce;
      padding: 30px 40px;
      color: white;
      text-align: center;
    }

    /* pseudoelemento, despues */
    .header:after {
      content: "";
      display: table;
      clear: both;
    }

    /* input */
    input {
      border: none;
      border-radius: 5px;
      width: 70%;
      padding: 10px;
    }

    /*  prioridad */
label[for="prioridad-input"] {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 5px;
  white-space: nowrap;
}

/*  prioridad */
#prioridad-input {
  width: 80px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

    /* boton de anadir */
    .addBtn {
      padding: 10px;
      background: #d9d9d9;
      color: #555;
      text-align: center;
      cursor: pointer;
      border-radius: 0;
    }

    .addBtn:hover {
      background-color: #bbb;
    }